$homeBackground: #ffffffa0;
$boxBorder: #aaaaaa;
$cardBackground: #ffe6f4;
$buttonBackground: #f394ca;
$pressedButtonBackground: #ad4881;
$buttonFont: #ffffff;
$formBackground: #dbe7f5;

$networksColors: (
	facebook: #0165e1,
	twitter: #1d9bf0,
	instagram: #c13584,
);